<header>
    <div class="container">
        <nav>
            <ul class="nav">
                <li class="nav__item">
                    <a href="/" class="nav__link" data-nav="html">
                        <!-- HTML -->
                        <svg class="nav__icon" data-nav="html">
                            <use href="./images/icons.svg#html" data-nav="html"></use>
                        </svg>
                    </a>
                    <span class="nav__count"></span>
                </li>
                <li class="nav__item">
                    <a href="/" class="nav__link" data-nav="javascript">
                        <!-- JavaScript -->
                        <svg class="nav__icon" data-nav="javascript">
                            <use href="./images/icons.svg#javascript" data-nav="javascript"></use>
                        </svg>
                    </a>
                    <span class="nav__count"></span>
                </li>
                <li class="nav__item">
                    <a href="/" class="nav__link" data-nav="react">
                        <!-- React -->
                        <svg class="nav__icon" data-nav="react">
                            <use href="./images/icons.svg#react" data-nav="react"></use>
                        </svg></a>
                    <span class="nav__count"></span>
                </li>
                <li class="nav__item">
                    <a href="/" class="nav__link" data-nav="node">
                        <!-- Node -->
                        <svg class="nav__icon" data-nav="node">
                            <use href="./images/icons.svg#node-js" data-nav="node"></use>
                        </svg>
                    </a>
                    <span class="nav__count"></span>
                </li>

            </ul>
        </nav>
    </div>
</header>