<header>
    <div class="container">
        <nav>
            <ul class="nav">
                <li class="nav__item">
                    <a href="/" class="nav__link">HTML</a>
                    <span class="nav__count"></span>
                </li>
                <li class="nav__item">
                    <a href="/" class="nav__link">JavaScript</a>
                    <span class="nav__count"></span>
                </li>
                <li class="nav__item">
                    <a href="/" class="nav__link">React</a>
                    <span class="nav__count"></span>
                </li>
                <li class="nav__item">
                    <a href="/" class="nav__link">Node</a>
                    <span class="nav__count"></span>
                </li>

            </ul>
        </nav>
    </div>
</header>