<div class="wrapper">
    <div class="quiz" id="quiz">
        <!-- <div class="quiz__title" id="module">HTML</div> -->
        <div class="quiz__pagination">
            <div class="footer__content" id="pages"></div>
        </div>
        <div class="quiz-questions" id="questions">
        </div>
        <div class="quiz__controls">
            <button class="btn-next btn_hidden" id="btn-next">Далі</button>
            <button class="btn-restart btn_hidden">Почати знову</button>
        </div>
    </div>
</div>